@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 120px;
  height: 60px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border: 2px solid white;
  animation: change-bg;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes change-bg {
  10% {
    border: 2px solid red;
  }
  20% {
    border: 2px solid green;
  }
  30% {
    border: 2px solid blue;
  }
  40% {
    border: 2px solid orange;
  }
  50% {
    border: 2px solid purple;
  }
  60% {
    border: 2px solid gray;
  }
  70% {
    border: 2px solid white;
  }
  80% {
    border: 2px solid yellow;
  }
  90% {
    border: 2px solid teal;
  }
  100% {
    border: 2px solid aqua;
  }
}
